
<h3>Sua cédula auditada</h3>

<p>
<b><u>IMPORTANTE</u></b>: esta cédula, agora que foi auditada, <em>não será apurada</em>.<br />
Para registrar um voto, você deve clicar no botão "Voltar para a votação" abaixo, criptografá-la novamente e escolher "registrar" em vez de "auditar".
</p>

<p>
<b>Por quê?</b> O Helios impede que você audite e registre a mesma cédula para oferecer alguma proteção contra coerção.
</p>

<p>
<b>E agora?</b> <a onclick="$('#audit_trail').select(); return false;" href="#">Selecione as informações de auditoria da sua cédula</a>, copie para a área de transferência e então use o <a target="_blank" href="single-ballot-verify.html?election_url={$T.election_url}">verificador de cédula</a> para verificar.<br />
Quando estiver satisfeito, clique no botão "Voltar para a votação" para criptografar novamente e registrar seu voto.
</p>

<form action="#">
<textarea name="audit_trail" id="audit_trail" cols="80" rows="10" wrap="soft">
{$T.audit_trail}
</textarea>
<br /><br />
Antes de voltar para a votação,<br />
você pode publicar esta cédula auditada na central de rastreamento do Helios para que outras pessoas possam conferir a verificação desta cédula.
<br /><br />
<b>Mesmo que você publique sua cédula auditada, você precisa voltar para a votação e escolher "registrar" se quiser que seu voto conte.</b>
<br /><br />
<button onclick="BOOTH.reset_ciphertexts();BOOTH.seal_ballot(); return false;" class="pretty">Voltar para a votação</button>
&nbsp; &nbsp;&nbsp;
<button onclick="$(this).attr('disabled', 'disabled');BOOTH.post_audited_ballot(); return false;" id="post_audited_ballot_button" class="pretty" style="font-size:0.8em;">publicar cédula auditada na central de rastreamento</button>

</form>




