{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="large-12-columns">

<div class="row"><h2>Sobre o Helios Voting</h2></div>

<div class="row">
<p>Helios é uma organização apartidária liderada por <a href="http://ben.adida.net">Ben Adida</a>.</p>
</div>

<div class="row">&nbsp;</div>

<div class="row">
<h5>Contribuidores do código</h5>

Ben Adida, Olivier de Marneffe, Olivier Pereira
</div>
<div class="row">&nbsp;</div>
<div class="row">
<h5>Conselheiros</h5>
</div>

<div class="row"><h6 class="subheader">Jim Adler</h6>
<p>
Jim é um executivo, empreendedor e referência em big data, privacidade,
segurança e sistemas de votação. Ele fundou empresas, definiu visão e
estratégia, liderou equipes, desenvolveu tecnologia e construiu produtos.
</p>
<p>
Atualmente, Jim é Vice-Presidente de Produtos na Metanautix, uma startup de
análise de big data. Ele também atua no comitê consultivo de Privacidade e
Integridade de Dados (DPIAC) do Departamento de Segurança Interna (DHS)
dos EUA, fornecendo recomendações a pedido do Secretário do DHS e do Chief
Privacy Officer do DHS. [<a href="http://jimadler.me/about">mais</a>]
</p>
</div>

<div class="row">&nbsp;</div>

<div class="row"><h6 class="subheader">Lawrence Lessig</h6>
<p>
Lawrence Lessig é Diretor do Edmond J. Safra Foundation Center for Ethics
na Universidade de Harvard e Professor de Direito na Harvard Law School.
Durante grande parte de sua carreira acadêmica, Lessig focou em direito e
tecnologia, especialmente no que diz respeito a direitos autorais. Seu
trabalho atual aborda a questão da “corrupção institucional” — em termos
gerais, influências dentro de uma economia de influência que enfraquecem a
efetividade de uma instituição ou diminuem a confiança pública.
Seu trabalho atual no EJ Safra Lab conduz um projeto de pesquisa de 5 anos
sobre corrupção institucional em diversos contextos. [<a href="http://www.lessig.org/info/bio/">mais</a>]
</p>
</div>

<div class="row">&nbsp;</div>

<div class="row"><h6 class="subheader">Josh Benaloh</h6>
<p>
Dr. Benaloh é Criptógrafo Sênior na Microsoft Research e diretor eleito da
International Association for Cryptologic Research. Ele obteve os títulos
S.B. pelo Massachusetts Institute of Technology e M.S., M.Phil. e Ph.D.
pela Yale University, onde sua tese de doutorado de 1987, “Verifiable
Secret-Ballot Elections”, introduziu o uso de criptografia homomórfica para
possibilitar tecnologias de votação verificável de ponta a ponta.
As numerosas publicações do Dr. Benaloh em criptografia e votação
pioneiraram novas tecnologias, incluindo o paradigma “cast or cancel”, que
traz os eleitores para o processo de verificação com um custo mínimo. Ele
participou de comitês de programa de dezenas de conferências e workshops de
criptografia e votação e é um palestrante frequente sobre a história, o
desenvolvimento e os mecanismos por trás de votações verificáveis.
</p>
</div>

<div class="row">&nbsp;</div>

<div class="row"><h6 class="subheader">Andy Neff</h6>
<p>
Dr. Neff é autor de diversas contribuições inovadoras ao estudo de
algoritmos de computação, especificamente aplicados a protocolos de
votação. Na VoteHere, onde foi CTO, Dr. Neff criou a primeira técnica de
mistura e anonimização de cédulas eficiente o suficiente para uso prático,
desenvolveu uma nova representação de cédula que permite reduzir seu
tamanho em vários fatores com privacidade preservada, e liderou a visão
técnica do produto eleitoral da VoteHere. Dr. Neff participa regularmente
de comitês de programa das principais conferências de votação e possui PhD
em Matemática pela Princeton University.
</p>
</div>

<div class="row">&nbsp;</div>

<div class="row"><h6 class="subheader">Olivier Pereira</h6>
<p>
Olivier Pereira é pesquisador associado da fundação científica belga
F.R.S.-FNRS e professor associado na Université catholique de Louvain. Seus
interesses de pesquisa estão na área de criptografia e computação
distribuída, abordando o desafio de permitir que pessoas realizem tarefas
conjuntamente de forma segura. Ele lidera o desenvolvimento, integração e
implantação do Helios em diversas eleições de grande escala e realizou
apresentações convidadas e palestras principais sobre eleições verificáveis
em dezenas de instituições ao redor do mundo. Ele também é coautor do estudo
Bevoting sobre sistemas de votação eletrônica produzido para as
Administrações Federais e Regionais da Bélgica.
</p>
</div>

<div class="row"><h6 class="subheader">Dan Wallach</h6>
<p>
Dan Wallach é professor associado no Departamento de Ciência da Computação
na Rice University, em Houston, Texas, e diretor do ACCURATE (A Center for
Correct, Usable, Reliable, Auditable and Transparent Elections) da NSF.
Sua pesquisa envolve segurança computacional e os desafios de construir
sistemas de software seguros e robustos para a Internet. Ele já prestou
depoimentos sobre segurança de votação perante órgãos governamentais nos
EUA, México e União Europeia, atuou como perito em diversos processos sobre
tecnologia de votação e participou da auditoria “top-to-bottom” dos sistemas
de votação da Califórnia.
</p>
</div>

</div>


{% endblock %}
