{% extends 'server_ui/templates/base.html' %}
{% load i18n %}

{% block title %}{{ settings.SITE_TITLE }} &mdash; Privacidade{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class="large-12-columns">

<div class="row"><h2>Privacidade</h2></div>

<div class="row">

<h3>Em geral</h3>

<ul>
<li>{% blocktrans %}Helios is designed with built-in privacy. If you have any questions or concerns about Helios privacy not covered here, <a href="mailto:help@heliosvoting.org">send us an email</a>.{% endblocktrans %}</li>
<li>{% blocktrans %}We collect only the information needed to provide secure, trustworthy elections.{% endblocktrans %}</li>
<li>{% blocktrans %}We make certain information available publicly on our web site as part of the process of auditing elections (details below.) Other than that, we do not give away any information we collect.{% endblocktrans %}</li>
<li>{% blocktrans %}We do not sell any information.{% endblocktrans %}</li>
<li>{% blocktrans %}We do not use external trackers or advertising that could leak information about you, except for Facebook and Twitter share buttons. Even for those, we use origin sandboxing to limit how much Facebook and Twitter can determine about you, and we only use those buttons on the election information page.{% endblocktrans %}</li>
</ul>

<p>
<b>{% blocktrans %}If you want to stop reading here, you can: the rest provides detail about the above principles without weakening them.{% endblocktrans %}</b>
</p>

<hr>

<h3>Para eleitores</h3>

<p><b>Sobre o seu voto:</b></p>

<ul>
<li>{% blocktrans %}Your vote on Helios is considered extremely private.{% endblocktrans %}</li>
<li>{% blocktrans %}Helios uses SSL to transmit data between your browser and our servers.{% endblocktrans %}</li>
<li>{% blocktrans %}In addition, Helios uses end-to-end encryption so that, even after SSL decryption, your vote is <em>still</em> encrypted with the election key. Helios servers never see your vote.{% endblocktrans %}</li>
<li>Em uma eleição Helios, seu voto individual nunca é descriptografado: os votos criptografados são combinados em uma apuração, usando um processo chamado criptografia homomórfica, e apenas o resultado final — nunca um resultado intermediário — é descriptografado.</li>
<li>Os trustees da sua eleição, se todos conspirarem, tecnicamente têm o poder de descriptografar seu voto individual. Essa ação é fortemente desencorajada e contraria a política do Helios. Por isso, eleições com alta exigência de segurança devem usar pelo menos 3 trustees com diferentes vínculos.</li>
<li>O Helios pode, a critério dos administradores da eleição, atuar como trustee. Isso <em>não</em> dá ao Helios nenhum poder para descriptografar seu voto. Na verdade, costuma ser preferível, pois sem a colaboração do Helios os demais trustees não conseguem descriptografar votos individuais. Nossa política é que o Helios, quando atua como trustee, só descriptografa a apuração da eleição, nunca um voto individual.</li>
<li>{% blocktrans %}When Helios is not acting as a trustee of your election, Helios has no power to decrypt any individual vote.{% endblocktrans %}</li>
</ul>

<p><b>Sobre dados não relacionados ao voto:</b></p>

<ul>
<li>{% blocktrans %}To vote, you will need to present credentials to prove your eligibility. Depending on how your election was set up, this may be a username and password that were generated for you, or a Facebook, Google, Yahoo, or Twitter login. Helios uses the appropriate login interfaces to those external services so that it never has access to your credentials at those services.{% endblocktrans %}</li>
<li>{% blocktrans %}For the purposes of election auditing, Helios stores your name, email address, and the minimal eligibility information needed to qualify you, for example the Facebook group that you belong to that was designated as the eligibility requirement for this election.{% endblocktrans %}</li>
<li>{% blocktrans %}The complete metadata of your vote: where you voted from, what time you voted, and how often you vote (only the last vote counts!), are stored in Helios and may be made available to your election administrators as part of the auditing process. This is critical for ensuring a secure and trustworthy election.{% endblocktrans %}</li>
<li>{% blocktrans %}If your election was made public by the administrator, then some core auditing information is made available to the public: the fact that you voted, the time of your vote, and its tracking number. If your administrator chose to use voter aliases, then your name will be replaced by your pseudonymous voter ID in that dataset. In all cases, Helios takes care to mask or fully hide your email address to prevent email harvesting for spam.{% endblocktrans %}</li>
<li>{% blocktrans %}If your election was made private, then this same information is available to only you, your fellow voters, and your election administrators.{% endblocktrans %}</li>
</ul>

<h3>Para administradores</h3>

<ul>
<li>{% blocktrans %}As an administrator, you have the power to designate who can vote, when the election starts, when the election stops, and when the results are released. Other than that, you have no power beyond what voters in your election have. This is by design.{% endblocktrans %}</li>
<li>{% blocktrans %}Para criar e administrar uma eleição, você precisará fazer login usando Google, Facebook, Yahoo ou Twitter. O Helios consulta e mantém apenas as informações básicas necessárias para autenticar você na próxima vez: seu nome, endereço de email e ID de usuário. O Helios usará essas informações para enviar mensagens quando sua eleição exigir atenção.{% endblocktrans %}</li>
</ul>

</div>

</div>

{% endblock %}
