<form method="post" action="{% url "election@password-voter-login" election.uuid %}" onsubmit="show_waiting()">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="return_url" value="{{return_url}}" />
<input type="hidden" name="cast_ballot" value="{{cast_ballot}}" />

<div style="border: 1px solid #888; padding: 10px; max-width: 500px;">
{{password_login_form.as_p}}
{% if bad_voter_login %}
<p style="color: red;">
ID de eleitor ou senha inválidos. Tente novamente.
</p>
{% endif %}
{% if cast_ballot == "1" %}
<input type="submit" class="button" value="autenticar &amp; registrar cédula" />
<p class="small">
  Seu ID de eleitor e sua senha estão no email que você recebeu.
  <a href="{% url "election@password-voter-resend" election.uuid %}" target="_blank">Esqueceu sua senha? Clique aqui para reenviar.</a>
  {% if election.help_email %}Se ainda assim você não encontrar suas informações de login, entre em contato com o administrador da eleição em <tt>{{election.help_email}}</tt>.{% endif %}
</p>
<p class="small">
Registre quantas cédulas quiser: apenas a última conta.
</p>
{% else %}
<input type="submit" class="button" value="entrar" />
{% endif %}
</form>
</div>


