{% extends TEMPLATE_BASE %}

{% block title %}Cédulas auditadas de {{election.name}}{% endblock %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Cédulas auditadas <span style="font-size:0.7em;">[<a href="{% url "election@view" election_uuid=election.uuid %}">voltar para a eleição</a>]</span></h2>

<p>
Quando você prepara uma cédula com o Helios, você recebe imediatamente um rastreador de cédula. Antes de decidir registrar essa cédula, você tem a opção de pedir ao Helios para "abrir" a cédula criptografada e verificar se o Helios a criptografou corretamente. Depois disso, você pode publicar aqui essa cédula aberta, na lista de cédulas auditadas, para que qualquer pessoa verifique (sua identidade não é incluída). Após fazer isso, você precisa criptografar novamente suas escolhas e obter um rastreador de cédula diferente. Isso ajuda a reduzir a chance de alguém tentar coagi-lo a votar de forma diferente da sua escolha real.
</p>

<p>
Essas cédulas <em>não são registradas</em> e não serão contabilizadas. Elas existem apenas para fins de auditoria, como uma checagem pontual para verificar que o Helios está criptografando corretamente as escolhas dos eleitores.
</p>

<p>
  Para verificar uma cédula auditada, copie todo o conteúdo e cole no <a target="_new" href="/booth/single-ballot-verify.html?election_url={% url "election@home" election.uuid %}">verificador de cédula única</a>.
</p>

{% if audited_ballots %}
<p>
Cédulas auditadas {{offset_plus_one}} - {{offset_plus_limit}} &nbsp;&nbsp;
</p>

{% if next_after %}
<a href="?after={{next_after}}&offset={{offset_plus_limit}}">próximas {{limit}}</a> &nbsp;&nbsp;
{% endif %}

{% if offset == 0 %}
{% else %}
<a href="?">voltar ao início</a> &nbsp;&nbsp;
{% endif %}
{% if more_p %}
<a href="?after={{next_after}}&offset={{next_offset}}">próximas {{limit}}</a>
{% endif %}
<table class="pretty">
{% for b in audited_ballots %}
<tr><td><tt style="font-size: 1.4em;">{{b.vote_hash}}</tt> [<a target="_blank" href="?vote_hash={{b.vote_hash|urlencode}}">ver</a>]</td></tr>
{% endfor %}
</table>
{% else %}
<em>ainda não há cédulas auditadas</em>
{% endif %}

{% endblock %}
