{% extends TEMPLATE_BASE %}
{% load timezone_tags %}
{% block title %}{{election.name}}{% endblock %}
{% block content %}
<div style="float: left; margin-right: 50px;">
  <h3 class="title">{{ election.name }}
{% if admin_p %}
{% if not election.frozen_at %}
<small><a class="small button" href="{% url "election@edit" election.uuid %}">Editar</a></small>
{% endif %}
{% endif %}</h3>
<p style="padding-top:0px; margin-top:0px">
<em>{% if election.private_p %}private{%else%}public{% endif %}</em> {{ election.election_type }}{% if settings.SHOW_USER_INFO %} criado por <u><b>{{election.admin.display_html_small|safe}}</b></u>{% endif %}
{% if election.is_archived %}
[archivado]
{% endif %}
{% if admin_p %}
&nbsp;{% if election.is_archived %}<a class="small button" href="{% url "election@archive" election_uuid=election.uuid %}?archive_p=0">Desarquivar</a>{% else %}<a class="small button" href="{% url "election@archive" election_uuid=election.uuid %}?archive_p=1">Arquivar</a>{% endif %}
{% if election.is_archived %}
<form method="post" action="{% url "election@delete" election_uuid=election.uuid %}" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this election? Once deleted, only site administrators can restore it.');">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="delete_p" value="1" />
<button type="submit" class="small button">Deletar</button>
</form>
{% endif %}
<a class="small button" onclick="return window.confirm('Are you sure you want to copy this election?');" href="{% url "election@copy" election_uuid=election.uuid %}">Copiar</a>
{% endif %}
<br />
{% if admin_p %}
{% if not election.private_p %}
{% if election.featured_p %}
Esse pleito ( {{election.election_type}} ) está publicado na página principal.
{% if can_feature_p %}
[<a href="{% url "election@set-featured" election.uuid %}?featured_p=0">unfeature it</a>]
{% endif %}
{% else %}
Esse pleito ( {{election.election_type}} ) <u> n&atilde;o</u> está publicado na página principal.
{% if can_feature_p %}
[<a href="{% url "election@set-featured" election.uuid %}?featured_p=1">feature it</a>]
{% endif %}
{% endif %}
{% endif %}
{% endif %}
</p>

</div>


<br />

<br clear="left" />

<div style="margin-bottom: 25px; line-height: 1.3;">
{{election.description_bleached|safe}}
</div>

<p>
{% if election.help_email and admin_p%}Email de suporte: {{election.help_email}}<br />{% endif %}
{% if election.voting_start_at %}Voting start at {{election.voting_start_at|utc_time}}<br />{% endif %}
{% if election.voting_end_at %}Voting end at {{election.voting_end_at|utc_time}}<br />{% endif %}
</p>

{% if election.election_info_url %}
<p style="font-size:1.5em;">[<a target="_blank" href="{{election.election_info_url}}" rel="noopener noreferrer">download candidate bios &amp; statements</a>]</p>
{% endif %}

<p align="center" style="font-size: 1.5em;">
<a href="{% url "election@questions" election.uuid %}">Questões({% if election.questions %}{{election.questions|length}}{% else %}0{% endif %})</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url "election@voters@list-pretty" election.uuid %}">Eleitores &amp; Cédulas</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url "election@trustees@view" election.uuid %}">Detendores de chaves ({{trustees|length}})</a>
{% if admin_p %}
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="{% url "election@admins" election.uuid %}">Administradores</a>
{% endif %}
</p>

{% if admin_p %}
{% if election.frozen_p %}
<div style="background: lightyellow; padding:5px; padding-left: 10px; margin-top: 15px; border: 1px solid #aaa; width: 720px;" class="round">
<a href="#" onclick="$('#badgebody').slideToggle(250);">Incorporar um selo da eleição</a>
<div id="badgebody" style="display:none;">
<br />
<form action="#">
<textarea cols="90" rows="4" wrap="soft">&lt;iframe src="{{election_badge_url}}" frameborder="0" style="border: 1px solid black" height="75" width="200"&gt;
&lt;/iframe&gt;</textarea><br />
<p style="font-size:0.8em;">Adicionar este HTML ao seu site exibe uma faixa com links diretos para a votação.</p>
</form>
</div>
</div>
{% endif %}
<p>

{% if election.result_released_at %}

<!-- election complete, no next step -->

{% else %}
<b>Próximo passo:</b>
<span style="font-size: 1.3em;">
{% if not election.frozen_at %}
{% if election.issues_before_freeze %}
{% for issue in election.issues_before_freeze %}
{{issue.action}}{% if forloop.last %}{% else %}, and{% endif %}<br />
{% endfor %}
{% else %}
<a href="{% url "election@freeze" election.uuid %}">congelar cédula e abrir a eleição.</a>
<br />
{% if election.voting_starts_at %}
depois disso, a eleição estará pronta para votação e será aberta automaticamente<br />
em {{election.voting_starts_at|utc_time}}, conforme suas configurações.
{% else %}
depois disso, a eleição será aberta imediatamente para votação.
{% endif %}
{% endif %}

{% else %}

{% if not election.encrypted_tally %}
{% if election.tallying_started_at %}
O cálculo da apuração está em andamento.<br />
Recarregue esta página em alguns minutos.
{% else %}
<a href="{% url "election@compute-tally" election.uuid %}">calcular apuração criptografada</a><br />
Os votos criptografados serão combinados em uma apuração criptografada. Depois disso,<br />
os trustees serão solicitados a fornecer sua parte da descriptografia.
{% endif %}
{% else %}

{% if election.result %}
<a href="{% url "election@release-result" election.uuid %}">publicar resultado</a><br />
O resultado exibido abaixo é visível apenas para você.<br />
Depois que você publicar o resultado, ele ficará visível para todos.
{% else %}

{% if election.ready_for_decryption_combination %}
<a href="{% url "election@combine-decryptions" election.uuid %}">
{% if election.num_trustees == 1 %}
calcular resultados
{% else %}
combinar descriptografias dos trustees e calcular resultados
{% endif %}
</a><br />
{% if election.num_trustees == 1 %}
O resultado será calculado e exibido apenas para você, o administrador.
{% else %}
As partes de descriptografia dos trustees serão combinadas e a apuração será calculada.<br />
Depois disso, a apuração ficará visível apenas para você, o administrador.
{% endif %}
{% else %}
<a href="{% url "election@trustees@view" election.uuid %}">trustees (para descriptografia)</a>
{% endif %}

{% endif %}

{% endif %}

{% endif %}
</span>

{% endif %}

</p>

{% endif %}

<br />

{% if show_result %}
{% if election.result_released_at %}
<span class="highlight-box round">
    Esta eleição foi concluída.
</span><br /><br /><br />
{% endif %}

<h3 class="highlight-box">Apuração</h3>
{% for question in election.pretty_result %}
<b><span style="font-size:0.8em;">Question #{{forloop.counter}}</span><br />{{question.question}}</b><br />
<table class="pretty" style="width: auto;">
{% for answer in question.answers %}
<tr><td style="padding-right:80px;{% if answer.winner %}font-weight:bold;{% endif %}">{{answer.answer}}</td><td align="right" style="{% if answer.winner %}font-weight:bold;{% endif %}">{{answer.count}}</td></tr>
{% endfor %}
</table>
{% endfor %}

{% else %}

{% if election.voting_has_stopped %}
<span class="highlight-box round">
    Eleição encerrada. Os resultados serão publicados em breve.
</span><br /><br />
{% else %}

{% if election.voting_has_started %}
<a class="button" href="{{test_cookie_url}}">Votar {% if election.election_type == "election" %}nesta Elei&ccedil;&atilde;o{% else %}nesse Referendo{% endif %}</a>
<br />
<br />
{% if election.voting_extended_until %}
Esta {{election.election_type}} estava inicialmente prevista para terminar em {{election.voting_ends_at|utc_time}},<br />
mas foi estendida até {{election.voting_extended_until|utc_time}}.
{% else %}
{% if election.voting_ends_at %}
<br />
Esta {{election.election_type}} está prevista para terminar em {{election.voting_ends_at|utc_time}}.
{% else %}
Esta {{election.election_type}} termina a critério do administrador.
{% endif %}
<br />
{% endif %}

{% if election.private_p and voter %}
<br />
Esta eleição é <em>privada</em>. Você entrou como eleitor elegível <em>{{voter.name}}</em>.
{% endif %}

<div class="highlight-box round" style="font-size: 1.2em; margin-right: 400px; display:none;" id="nojava_message">
  Você não tem Java instalado no seu navegador.<br />No momento, o Helios requer Java.<br />
  Visite <a target="_new" href="http://java.sun.com">java.sun.com</a> para instalar.
</div>
<br />
{% else %}
<span class="highlight-box round">
  a votação ainda não está aberta
</span> <br /><br />
{% endif %}

{% if user %}
{% if voter %}
<p style="padding-top:1px;">
  Você está registrado para votar nesta {{election.election_type}}.
{% if election.use_voter_aliases %}
Seu apelido de eleitor é {{voter.alias}}.
{% endif %}
</p>

{% else %}
{% if election.result %}
{% else %}
{% if election.openreg %}
{% if eligible_p %}
Você é elegível para votar nesta eleição.
{% else %}
Você <em>não é elegível</em> para votar {% if election.election_type == "referendum" %}nesse Referendo{% else %}nesta Eleição{% endif %}.
{% endif %}
{% else %}
Você <em>não é elegível</em> para votar {% if election.election_type == "referendum" %}nesse Referendo{% else %}nesta Eleição{% endif %}.
<br />
{% endif %}
{% endif %}
{% endif %}
{% else %}

{% if election.openreg %}
{% if election.eligibility %}
Esta eleição está aberta para: {{election.pretty_eligibility|safe}}
<a href="{{settings.SECURE_URL_HOST}}{% url "auth@index" %}?return_url={{CURRENT_URL}}">Entre</a> para verificar sua elegibilidade.
{% else %}
Qualquer pessoa pode votar nesta eleição.
{% endif %}
{% endif %}

{% endif %}

{% endif %}

{% endif %}

{% if admin_p and election.voting_ends_at and not election.tallying_started_at %}
<br /><a href="{% url "election@extend" election.uuid %}">estender a votação</a><br />
{% endif %}

<div style="background: lightyellow; padding:5px; padding-left: 10px; margin-top: 15px; border: 1px solid #aaa;" class="round">
<a href="#" onclick="$('#auditbody').slideToggle(250);">Informações de auditoria</a>
<div id="auditbody" style="display:none; word-wrap: break-word;">
<br />URL da eleição:<br />
<a href="{{election.url}}">{{election.url}}</a>

{% if election.frozen_at %}
<br />
<br />Impressão digital da eleição:<br />
<tt style="font-size: 1.3em; font-weight: bold;">{{election.hash}}</tt>


{% if votes %}
<p>Seu rastreador de cédula:<br />
<tt style="font-size:14pt; font-weight: bold;">{{votes.0.vote_hash}}</tt>
</p>
{% endif %}

<p style="font-size: 1.3em;">
<a href="{% url "election@voters@list-pretty" election.uuid %}">Centro de rastreamento de cédulas</a> &nbsp;| &nbsp;
<a href="{% url "election@audited-ballots" election.uuid %}">Cédulas auditadas</a>
{% if admin_p %}&nbsp;| &nbsp;
<a href="{% url "election@log@download-csv" election.uuid %}">Baixar log da eleição (CSV)</a>
{% endif %}
</p>

{% endif %}

{% if not election.voting_has_started %}
<p style="font-size: 1.2em;">
  <br>
  <a href="{{SECURE_URL_HOST}}/booth/vote.html?election_url={% url "election@home" election.uuid %}">pré-visualizar cabine de votação</a>
</p>
{% endif %}  

{% if election.voting_has_stopped %}
<p style="font-size: 1.2em;">
{% if election.result %}
verificar <a target="_blank" href="/verifier/verify.html?election_url={% url "election@home" election.uuid %}">a apuração da eleição</a>.
{% endif %}

revisar a <a href="{{vote_url}}">cabine de votação</a>.
</p>

{% endif %}

</div>
</div>




{% endblock %}
