{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{ election.name }} – Registrar</h2>

{% if user %}
<p>
    Você está logado como {{user.user_id}} [{{user.user_type}}]
</p>
{% if voter %}
<p>
    Você já está registrado nesta eleição.
</p>
{% else %}
<p>
    Você <em>não</em> está registrado nesta eleição.
</p>

<form method="post" action="{% url "election@register" election.uuid %}">
<input class="button" type="submit" value="registrar!" />
</form>
{% endif %}

{% else %}
{% endif %}

{% endblock %}