{% extends TEMPLATE_BASE %}

{% block title %}Calcular apuração criptografada para {{election.name}}{% endblock %}

{% block content %}
  <h2 class="title">Calcular apuração da eleição: {{election.name}}</h2>

<div id="instructions">
{% if num_pending_votes > 0 %}
<p>
    <b>{{ num_pending_votes }} voto{{ num_pending_votes|pluralize }} ainda sendo processado.</b>
</p>
<p>
    Todos os votos precisam ser verificados antes de calcular a apuração. Aguarde e tente novamente em instantes.
    Se isso persistir, contate <a href="mailto:{{settings.HELP_EMAIL_ADDRESS}}">{{settings.HELP_EMAIL_ADDRESS}}</a>.
</p>
<p>
    <a href="{% url "election@compute-tally" election.uuid %}">Atualizar esta página</a> |
    <a href="{% url "election@view" election.uuid %}">voltar para a eleição</a>
</p>
{% elif election.num_cast_votes %}
<p>
    Você está prestes a calcular a apuração criptografada da eleição <b>{{election.name}}</b>.
</p>

<p>
    Depois disso, os eleitores não poderão mais registrar uma cédula.
</p>

<form method="post" action="" onsubmit="alert('ok, a apuração começou')" class="pretty">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />

<input class="button" type="submit" value="calcular apuração criptografada!" />
<button class="button" onclick="document.location='{% url "election@view" election.uuid %}'; return false;">deixa pra lá</button>
</form>
{% else %}
<p>
Nenhum voto foi registrado nesta eleição. Pelo menos um voto precisa ser registrado antes de calcular a apuração.<br /><br />
<a href="{% url "election@view" election.uuid %}">voltar para a eleição</a>
</p>
{% endif %}
</div>

<br /><br />
{% endblock %}
