{% extends "helios/templates/cryptobase.html" %}

{% block title %}Trustees de {{election.name}}{% endblock %}

{% block content %}
  <h3 class="title">{{election.name}} &mdash; Trustees <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">voltar para a eleição</a>]</span></h3>

<p>
    Trustees são responsáveis por descriptografar o resultado da eleição.<br />
    Cada trustee gera um par de chaves e envia a parte pública para o Helios.<br />
    Na hora de descriptografar, cada trustee precisa fornecer sua chave secreta.
</p>

{% if not election.frozen_at %}

<p>
  O Helios é automaticamente seu primeiro trustee e fará a geração do par de chaves e a descriptografia automaticamente.<br />
  Se você quiser, pode adicionar trustees adicionais e até remover o trustee do Helios.<br />
  No entanto, recomendamos fazer isso apenas se você entende bem o papel de um trustee.
</p>

{% if admin_p %}
<p>
    [ <a onclick="return(confirm('Adicionar seu próprio trustee exige bem mais trabalho para apurar a eleição.\nVocê precisará fazer com que os trustees gerem pares de chaves e protejam suas chaves secretas.\n\nSe você não tem certeza do que isso significa, recomendamos fortemente\nclicar em Cancelar e deixar o Helios apurar a eleição para você.'));" href="{% url "election@trustees@new" election.uuid %}">adicionar um trustee</a> ]
</p>
{% if not election.has_helios_trustee %}
<p>
    <a href="{% url "election@trustees@add-helios" election.uuid %}">adicionar o Helios como trustee</a>
</p>
{% endif %}
{% endif %}

{% endif %}

{% if not trustees|length %}

{% else %}
{% for t in trustees %}
<h5> Trustee #{{forloop.counter}}: {{t.name}} 
{% if admin_p %}
{% if t.secret_key %}
{% if not election.frozen_at %}[<a onclick="return confirm('Tem certeza que deseja remover o Helios como trustee?');" href="{% url "election@trustees@delete" election.uuid %}?uuid={{t.uuid}}">x</a>]{% endif %}
{% else %}
({{t.email}})
{% if not election.frozen_at %}[<a onclick="return confirm('Tem certeza que deseja remover este trustee?');" href="{% url "election@trustees@delete" election.uuid %}?uuid={{t.uuid}}">x</a>]{% endif %}
[<a onclick="return confirm('Tem certeza que deseja enviar para este trustee a URL de administração?');" href="{% url "election@trustee@send-url" election.uuid t.uuid %}">enviar login</a>]
{% endif %}
{% endif %}
</h5>

<p>
{% if t.public_key_hash %}
  Impressão digital da chave pública: <tt style="font-size:1.5em;">{{t.public_key_hash}}</tt>
{% else %}
Nenhuma chave pública enviada ainda.
{% endif %}
</p>

{% if election.encrypted_tally %}
{% if t.decryption_factors %}
<b>apuração registrada para este trustee.</b>
{% else %}
<em>aguardando a apuração deste trustee</em>
{% endif %}
{% endif %}
</li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}
