{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Envio em lote de eleitores &mdash; Confirmar<span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">voltar para a eleição</a>]</span></h2>

<p>
Você enviou um arquivo de eleitores. As primeiras linhas deste arquivo são:
</p>

<table>
<tr><th>Tipo de eleitor</th><th>Login do eleitor</th><th>Endereço de email</th><th>Nome</th></tr>
{% for v in voters %}
<tr><td>{{v.voter_type}}</td><td>{{v.voter_id}}</td><td>{{v.email}}</td><td>{{v.name}}</td></tr>
{% endfor %}
</table>

{% if problems %}
<p style="font-size: 1.5em;">
ATENÇÃO:<br />
{% for problem in problems %}
- {{problem}}<br />
{% endfor %}
</p>
<br />

<a href="{% url "election@voters@upload-cancel" election.uuid %}">deixa pra lá, enviar um arquivo diferente</a>
</p>

{% else %}
<p></p>
<form method="post" action="" id="upload_form">
  Isso parece correto para você?
  <input type="hidden" name="confirm_p" value="1" />
  <input class="button" type="submit" value="Sim, vamos lá" />
</form>

<a href="{% url "election@voters@upload-cancel" election.uuid %}">não, quero enviar um arquivo diferente</a>

{% endif %}

{% endblock %}
