{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Envio em lote de eleitores <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">voltar para a eleição</a>]</span></h2>

<form method="post" action="" id="upload_form" enctype="multipart/form-data">
<p>
    Se você quiser especificar sua lista de eleitores por nome e email,<br />
    você pode enviar aqui um arquivo com essa lista em lote.<br /><br />

    Prepare um arquivo texto com valores separados por vírgula (CSV) com os campos:
</p>
<pre>
   password,&lt;id_unico&gt;,&lt;email&gt;,&lt;nome_completo&gt;
</pre>
<p>
ou
</p>
<pre>
   github,&lt;usuario&gt;
</pre>

<p>
Por exemplo:
  </p>
  <pre>
      password,bobsmith,bob@acme.org,Bob Smith
      github,benadida
      ...
  </pre> 

  <p>
    A forma mais fácil de preparar esse arquivo é usar uma planilha e exportar como "CSV".
  </p>
  {% if error %}
  <div style="color: red;">{{error}}</div>
  {% endif %}
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
    <input type="file" name="voters_file" />
    <input class="button" type="submit" value="enviar" />
</form>

<div id="processing">
</div>

<div id="done" style="display:none;">
  OK, upload concluído.<br />
  Agora você pode <a href="./manage">ver a lista de eleitores</a>.
</div>

{% endblock %}
